*.o
*.exe
*.pyc
*-out.hpp
*-out.cpp
*-out

src/flua/Tools/IDE/tmp/*
src/playground/*
include/cpp/musl/*
include/cpp/boost/*
libs/cpp/linux/x86/musl-*

src/flua/Tools/IDE/miscellaneous/scribble.txt
src/flua/Tools/IDE/settings.ini
src/flua-tests/

bp.geany
geany_run_script.bat
flua_decls.hpp
C++
Python3
test.png
__pycache__
.notepad++
