bp.geany
*.pyc
*-out.hpp
*-out.cpp
*-out
bp_decls.hpp
*.o
*.exe
C++
Python3
test.png
__pycache__
src/bp/Tools/IDE/tmp/*
src/bp/Tools/IDE/miscellaneous/scribble.txt
src/bp/Tools/IDE/settings.ini
src/playground/*
include/cpp/musl/*
include/cpp/stm/*
libs/cpp/linux/x86/musl-*
src/eurbach/
.notepad++
