bp.geany
*.pyc
*-out.hpp
*-out.cpp
*-out
flua_decls.hpp
*.o
*.exe
C++
Python3
test.png
__pycache__
src/flua/Tools/IDE/tmp/*
src/flua/Tools/IDE/miscellaneous/scribble.txt
src/flua/Tools/IDE/settings.ini
src/playground/*
include/cpp/musl/*
include/cpp/boost/*
libs/cpp/linux/x86/musl-*
src/eurbach/
.notepad++
